.skills-container {
    padding-left: 2rem;
    padding-right: 2rem;
}

.project-container {
    padding-left: 2rem;
    padding-right: 2rem;
}

.skills-list p {
    display: inline;
}

.skill-title {
    padding-left: .4rem;
}

.project-skill-container h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

@media screen and (max-width: 48rem) {
    .skills-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;
    }
    .skill-title {
        display: none !important;
    }
    .project-skill-container h1 {
        border-bottom: .15rem solid black;
    }
}