.skills-container {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

.projects-container {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

.projects-list {
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.image-link {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skills-list {
    padding-top: 1rem;
}

.skills-list p {
    display: inline;
}

.skills-title {
    padding-left: .4rem;
}

.projects-skills-container h2 {
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: .05rem solid black;
}

@media screen and (max-width: 48rem) {
    .skills-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;
    }
    .projects-list {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .projects-container {
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .skills-container {
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .education-container {
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .education-container ul {
        padding-left: 1rem;
        padding-right: 1rem; 
    }
    .skills-title {
        display: none !important;
    }
    .projects-skills-container h1 {
        border-bottom: .15rem solid black;
    }
    .image-link {
        transform: scale(.85);
    }
    .education-container h1 {
        text-align: left !important;
    }
}

.link-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.site-launch-button {
    min-width: 12rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.562);
    color: #ffffff;
    font-weight: 750;
    transition: .1s;
    margin: .45rem;
    padding: .65rem 2rem;
    text-align: center;
}

.education-container h1 {
    text-align: center;
}

.education-container ul {
    display: flex;
    justify-content: center;
}

.education-title {
    font-weight: 700;
}