.App {
  font-family: 'Poppins', sans-serif;
}

.nav-brand {
  color: black;
  font-weight: 500;
}

.nav-link {
  color: rgba(82, 82, 82, 0.884) !important;
  font-weight: 450;
}

.nav-container {
  background-color: white;
}